<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Kenderaan</h6>

                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    <i class="fas fa-user-tie text-dark"> </i>
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        Jumlah Kenderaan Tahunan
                                    </h5>

                                    <span class="h1 font-weight-bold mb-0"> 20 </span>
                                </div>
                            </div>

                            <p class="mt-3 mb-0 text-sm text-center">
                                <span class="text-success mr-2 font-weight-bold">
                                    <i class="fa fa-arrow-up"> </i> 3.48%
                                </span>

                                <span class="text-nowrap"> sejak bulan lepas </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-12">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        Jumlah Kenderaan Sebulan
                                    </h5>

                                    <span class="h1 font-weight-bold mb-0"> 2 </span>
                                </div>
                            </div>

                            <p class="mt-3 mb-0 text-sm text-center">
                                <span class="text-success mr-2 font-weight-bold">
                                    <i class="fa fa-arrow-up"> </i> 0.8%
                                </span>

                                <span class="text-nowrap"> sejak bulan lepas </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-12">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col text-center">
                                    <h5 class="card-title text-uppercase text-muted mb-0">
                                        Jumlah Kenderaan
                                    </h5>

                                    <span class="h1 font-weight-bold mb-0"> 13 </span>
                                </div>
                            </div>

                            <p class="mt-3 mb-0 text-sm text-center">
                                <span class="text-success mr-2 font-weight-bold">
                                    <i class="fa fa-arrow-up"> </i> 0.4%
                                </span>

                                <span class="text-nowrap"> sejak bulan lepas </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0">Senarai Kenderaan</h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-xs-12">
                            <div class="form-group">
                                <label class="form-control-label">Carian melalui</label>
                                <select class="form-control form-control-sm">
                                    <option>Sila pilih</option>
                                    <option>Jenis Kenderaan</option>
                                    <option>ID Kenderaan</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 text-right" style="
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                ">
                            <button class="btn btn-info btn-sm">Cari</button>
                            <button class="btn btn-secondary btn-sm" (click)="clickReset()">
                                Set Semula
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="dataTables_wrapper py-4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="datatable_length">
                                            <label>
                                                Papar
                                                <select name="datatable_length" aria-controls="datatable"
                                                    class="form-control form-control-sm"
                                                    (change)="entriesChange($event)">
                                                    <option value="5" [selected]="entries == 5">5</option>
                                                    <option value="10" [selected]="entries == 10">10</option>
                                                    <option value="25" [selected]="entries == 25">25</option>
                                                    <option value="50" [selected]="entries == 50">50</option>
                                                    <option value="-1" [selected]="entries == -1">Semua</option>
                                                </select>
                                                rekod
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="datatable_filter" class="dataTables_filter">
                                            <label>
                                                <input type="search" class="form-control form-control-sm"
                                                    placeholder="Cari rekod" aria-controls="datatable"
                                                    (keyup)="filterTable($event)" />
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'"
                                    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'"
                                    [limit]="entries != -1 ? entries : undefined" [rows]="temp"
                                    (activate)="onActivate($event)">
                                    <!-- <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                          <span>No</span>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{ row.id + 1 }}
                        </ng-template>
                      </ngx-datatable-column> -->
                                    <ngx-datatable-column>
                                        <ng-template ngx-datatable-header-template>
                                            <span>ID Kenderaan</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{ row.kenderaanid }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column>
                                        <ng-template ngx-datatable-header-template>
                                            <span>Jenis</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{ row.jenis }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column>
                                        <ng-template ngx-datatable-header-template>
                                            <span>Lokasi</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{ row.lokasi }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column>
                                        <ng-template ngx-datatable-header-template>
                                            <span>Tarikh</span>
                                        </ng-template>
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{ row.tarikh }}
                                        </ng-template>
                                    </ngx-datatable-column>
                                </ngx-datatable>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>