<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Aset Tanah</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-gem text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Carta Pai</h6>
                    <h5 class="h3 mb-0">Inventori Aset</h5>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="at1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header bg-secondary">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Carta bar</h6>
                    <h5 class="h3 mb-0">Nilai Aset</h5>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="at2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-secondary">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Senarai</h6>
                            <h5 class="h3 mb-0">Senarai Aset Sewaan KESEDAR</h5>
                        </div>
                        <div class="col-auto align-self-center">
                            <button class="btn btn-default btn-sm" (click)="openModal(tambah)">Tambah</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="dataTables_wrapper py-2">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length pl-0" id="datatable_length">
                                    <label>
                                        Papar
                                        <select name="datatable_length" aria-controls="datatable"
                                            class="form-control form-control-sm" (change)="entriesChange($event)">
                                            <option value="5" [selected]="entries == 5">5</option>
                                            <option value="10" [selected]="entries == 10">10</option>
                                            <option value="20" [selected]="entries == 20">20</option>
                                            <option value="-1" [selected]="entries == -1">All</option>
                                        </select>
                                        rekod
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="datatable_filter" class="dataTables_filter pr-0">
                                    <label>
                                        <input type="search" class="form-control form-control-sm"
                                            placeholder="Search records" aria-controls="datatable"
                                            (keyup)="filterTable($event)" />
                                    </label>
                                </div>
                            </div>
                        </div>

                        <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="'auto'" [limit]="entries != -1 ? entries : undefined"
                            [rows]="temp" (activate)="onActivate($event)">

                            <ngx-datatable-column name="jenis">
                                <ng-template ngx-datatable-header-template>
                                    <span>Jenis Aset</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="jumlah">
                                <ng-template ngx-datatable-header-template>
                                    <span>Jumlah Aset</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="nilai">
                                <ng-template ngx-datatable-header-template>
                                    <span>Nilai Aset</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Lokasi">
                                <ng-template ngx-datatable-header-template>
                                    <span>Lokasi Aset</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="status">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span *ngIf="row.status == '1'" class="badge badge-pill badge-success">Aktif</span>
                                    <span *ngIf="row.status == '2'" class="badge badge-pill badge-danger">Tidak
                                        Aktif</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a class="btn btn-sm btn-warning">
                                        <i class="fas fa-edit text-white"></i>
                                    </a>
                                    <a class="btn btn-sm btn-danger">
                                        <i class="fas fa-trash text-white"></i>
                                    </a>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #tambah>
    <div class="modal-header bg-default">
        <h6 class="modal-title text-white my-auto" id="modal-title-default">
            Tambah Aset Sewaan KESEDAR
        </h6>

        <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="closeModal()">
            <span aria-hidden="true" class="text-white my-auto"> × </span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">ID</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Jumlah Aset</label>
                        <input class="form-control" type="number" value="23" id="example-number-input">
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Lokasi Aset</label>
                        <input class="form-control" type="text" placeholder="">
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Jenis Aset</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Aset Alih</option>
                            <option>Aset Hidup</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="form-control-label">Tarikh Daftar</label>
                        <input class="form-control" type="text" placeholder="RM">
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="example-text-input" class="form-control-label">Status</label>
                        </div>
                        
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Aktif</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">Tidak aktif</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal-footer text-end">
        <button class="btn btn-success" type="button" (click)="confirm()" [disabled]="!registerForm.valid">
            Simpan
        </button>

        <button class="btn btn-outline-danger" data-dismiss="modal" type="button" (click)="closeModal()">
            Tutup
        </button>
    </div>
</ng-template>